<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
	<title>The Bol Game</title>
	<link href="/css/lib/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<main class="container">
	<div class="jumbotron">
		<h1>Player <span th:text="${player.username}">anonymous</span>'s history</h1>
		<p>Wow, such games, much wins, very losses!</p>
	</div>
	<div class="row"><a href="/play" class="btn btn-info">Play!</a></div>
	<table class="table">
		<thead>
			<tr>
				<th>Played against</th>
				<th>Score</th>
				<th>Start</th>
				<th>Finish</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="score : ${scores}"
			    th:classappend="${score.winner} ? (${score.isWinner(player)} ? bg-success : bg-danger) : bg-warning">
				<td th:text="${score.getOpponentsUsername(player)}"></td>
				<td th:text="${score.scoreVersus}"></td>
				<td th:text="${#dates.format(score.game.createdAt, 'd MMM, yyyy')}"></td>
				<td th:text="${#dates.format(score.createdAt, 'd MMM, yyyy')}"></td>
			</tr>
		</tbody>
		<tfoot>
		<tr>
			<td colspan="4">
				<label>Labels: </label>
				<span class="btn text-white bg-success">Victory</span>
				<span class="btn bg-warning">Draw</span>
				<span class="btn bg-danger">Defeat</span>
			</td>
		</tr>
		</tfoot>
	</table>
</main>

<script src="/js/lib/jquery.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>